# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
.Python

# ===============================
# Virtual environments
# ===============================
venv/
.env/
.env.*

# ===============================
# Runtime / data
# ===============================
data/
memory/
storage/
# models/
voice_gold/

# ===============================
# TTS / audio
# ===============================
*.wav
*.mp3
*.ogg
data/tts/
data/tts_cache/

# ===============================
# Editor
# ===============================
.vscode/
.idea/

# ===============================
# Logs
# ===============================
*.log
nohup.out
